<!DOCTYPE html>
<html lang="en">
  <body>

    <h1> Your shortened URL = <%= shortURL %> </h1>
    <p> Long URL = <%= longURL %> </p>

    <form method="GET" action="/">
      <button type="submit"> Return to URL Shortener </button>
    </form>

  </body>
</html>

