<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../views/partials/_header %>
  </head>

  <body>
    <h1>ShortURL: <%= result.shortURL %></h1>
    <br>
    <form method="POST" action="/urls/<%= result.shortURL %>?_method=PUT">
      <label for="editURL">Enter a URL:</label>
      <input id="editURL" type="text" name="newURL" value="<%= result.longURL %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <form method="GET" action="/urls">
      <button type="submit">Return to your list of URL</button>
    </form>
  </body>

</html>