<!DOCTYPE html>
<html lang="en">

  <head>
    <% include partials/_header %>
  </head>

  <body>
    <h1>Your shortened URL = <%= result.shortURL %></h1>
    <p>Long URL = <%= result.longURL %></p>
    <form method="GET" action="/">
      <button type="submit">Return to URL Shortener</button>
    </form>
  </body>

</html>

